/* Base Typography*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

p {
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $bold;
  font-family: $poppins;
}
