// Color Scheme
// First Color Scheme
$white: #ffffff;
// Second Color Scheme
$black: #000000;
$sable: #060606;
$charcoal: #2e1503;
$tangerine: #ffaf6d;
$orange: #ffa500;

//Third Color Scheme
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver: #a6a5a8;

//Fourth Color Sheme


//Fiveth Color Sheme

//Sixth Color Sheme

//Font Family
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
// Tipography
// Font Weight
$bold: 700;
$regular: 400;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

