.footer {
    font-family: $poppins;
    font-size: $small;
    background: $black;
    color: $white;
    text-align: center;
    padding: 3rem;
  
    &__links {
      & a {
        color: $white;
  
        &:hover {
          color: $tangerine;
        }
      }
    }
  
    &__link {
      display: block;
      margin: 1rem auto;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-around;
  
      &__copy {
        display: flex;
        align-items: center;
      }
  
      &__links {
        display: flex;
        align-items: center;
      }
  
      &__link {
        margin: 0 1rem;
      }
    }
  }
  